<div>
    <div class="Social">   

        <button type="button" class="btn btn-primary">LOGIN</button>  
        <a href="https://github.com/TheSortty"><img src="../../assets/github.png" id="github" class="img-fluid"></a>
        <a href="https://www.instagram.com/_gonzaloxm_/"><img src="../../assets/instagram.png" id="instagram" class="img-fluid"></a>
        <a href="https://www.linkedin.com/in/gonzalo-murguia-620abb222/"><img src="../../assets/linkedin.png" id="linkedin" class="img-fluid"></a>  
        <div>
            <p class="h1">
                My portfolio
            </p>
        </div> 
    </div>

    <img src="../../assets/APLogo.png" id="Logo">   
</div>

<div class="Body">
    <img src="../../assets/My project-1.png" id="Fondo" class="img-fluid rounded-3">
</div>